body {
  background-image: url("gs://samakintunde-portfolio.appspot.com/52).jpg");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  font-family: Montserrat, sans-serif;
  color: #ffffff;
  text-align: center;
}
header h1 {
  font-size: 1.5em;
  color: #3388ff;
}
header p {
  font-style: italic;
  font-weight: 400;
}
main {
  width: 80%;
  margin: 0 auto;
}
main h2 {
  font-size: 2em;
  padding-bottom: 2em;
}
main div.social a,
main p a {
  text-decoration: none;
  color: #3388ff;
  transition: 0.3s;
}
a:hover {
  color: #9dbbf3;
}
main div.social a {
  font-size: 1.5em;
  margin: 0.5em;
}
main div.social a:hover {
  color: #ffffff;
}
main div.social a i {
  transition: transform 0.25s;
}
main div.social a i:hover {
  transform: scale(1.15);
}
footer {
  font-size: 0.85em;
}
