.button {
  position: relative;
  border: 1.5px solid #147dff;
  border-radius: 3px;
  color: #000000;
  margin-top: 1em;
  padding: 0.5em 1em;
  background: none;
  transition: 0.2s;
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: #147dff;
  color: #ffffff;
}
