.hidden {
  display: none;
}

.form {
  display: block;
  padding: 2em;
  background-color: #f8f8f8;
  box-shadow: 1px 1px 5px 5px #dddddddd;
}

.form:hover {
  box-shadow: 1px 1px 3px 3px #dddddddd;
}

.fieldSection {
  margin: 1em 0;
}

.input {
  padding: 0.25em 0.5em;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
}

.messageArea {
  display: block;
  width: 100%;
  resize: none;
}

.send {
  width: 100%;
  position: relative;
  border: 1.5px solid #147dff;
  border-radius: 3px;
  color: #000000;
  margin: 1em auto 0 auto;
  padding: 0.5em 1em;
  background: none;
  transition: 0.2s;
  font-family: Montserrat, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  /* text-align: center; */
}

.send:hover {
  background-color: #147dff;
  color: #ffffff;
}
