/* VARIABLES */
:root {
  --heading-font: "Montserrat", sans-serif;
  --heading-color: #333333;
  --body-font: "Open Sans", sans-serif;
  --area-padding: 1em;
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: 18px;
  width: 100% !important;
}

/* SPECIFIC STYLES */
header {
  background: #333333;
  color: #ffffff;
  padding: var(--area-padding);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

.sticky {
  background: cornflowerblue;
}

header h1 {
  font-family: var(--heading-font);
  text-transform: uppercase;
}

header span#sidebar-open-btn {
  color: #ffffff;
  padding: var(--area-padding);
  display: inline;
}

header span#sidebar-open-btn img {
  height: 1.5em;
}

header nav {
  text-align: center;
}

header nav a {
  color: #ffffff;
  border-bottom: #333333;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 1em;
  font-weight: 600;
  transition: 0.3s;
}

header nav a:hover {
  border-bottom: 3px solid #333333;
}

header div.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

header div.social svg {
  fill: #ffffff;
  flex-basis: max-content;
  height: 1.25em;
  margin: 0 1em;
  transition: 0.3s;
}

header div.social svg:hover {
  fill: #dddddd;
}

main div.hero {
  background: #333333;
  color: #ffffff;
  height: calc(100vh - 6em);
  margin: 0 auto;
  padding: var(--area-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

main div.hero img {
  margin: 2em;
}

main div.hero h1 {
  font-family: var(--heading-font);
}

main div.hero em {
  font-style: italic;
}

main div.content {
  text-align: center;
  padding: var(--area-padding);
}

main div.content h2 {
  font-family: var(--heading-font);
  color: var(--heading-color);
}

main div.content .content-skills {
  padding: var(--area-padding);
  display: flex;
  justify-content: center;
}

main div.content .content-skills div {
  margin: 1em;
}

main div.content .content-skills img {
  height: 2em;
}

main div.projects {
  padding: var(--area-padding);
}

main div.projects .projects-tabs {
  border: 1px solid #333333;
  padding: 0.25em;
}

main div.projects .projects-tabs #design-tab {
  display: inline;
}
main div.projects .projects-tabs #dev-tab {
  display: inline;
}

footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: var(--area-padding);
}

/* FOOTER SOCIAL ICONS */
footer div.social {
  display: flex;
  justify-content: center;
}

footer div.social svg {
  height: 2em;
  fill: #ffffff;
  margin: 1em;
  transition: 0.3s;
}

footer div.social svg:hover {
  fill: #b6c8ec;
}

footer div.rights p {
  margin-top: 1em;
  font-size: 0.8em;
}

@media (max-width: 720px) {
  /* HEADER */
  header {
    display: block;
  }
  header h1 {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    /* margin-bottom: var(--area-padding); */
    color: cornflowerblue;
  }
  header nav,
  header div.social {
    display: none;
  }
  /* SIDEBAR */
  header div#sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    /* width: max-content; */
    height: 100vh;
    overflow: hidden;
    background: #6494eda6;
    padding: var(--area-padding);
    z-index: 99;
  }
  header div#sidebar nav {
    display: block;
    margin-bottom: 3em;
  }
  header div#sidebar nav a {
    display: block;
    color: #ffffff;
    /* border-bottom: 2px #ffffff; */
    text-decoration: none;
    margin: var(--area-padding);
    /* font-weight: 600; */
    transition: 0.3s;
  }

  header div#sidebar nav a:hover {
    border-bottom: 3px solid #333333;
  }

  header div#sidebar .sidebar-social {
    /* display: flex; */
    align-items: center;
    justify-content: center;
  }

  header div#sidebar .sidebar-social svg {
    fill: #ffffff;
    flex-basis: max-content;
    height: 1.25em;
    margin: 0 1em;
    transition: 0.3s;
  }

  header div#sidebar .sidebar-social svg:hover {
    fill: #dddddd;
  }
  /* HERO AREA */
  main div.hero {
    display: block;
    text-align: center;
  }

  main div.hero img {
    padding-bottom: var(--area-padding);
  }

  main div.hero div h1 {
    font-size: 1.5em;
  }

  /* SIDEBAR ANIMATION */
  @keyframes sidebar-open {
    0% {
      left: -80%;
    }
    100% {
      left: 0;
    }
  }
}
