.item {
  box-shadow: 1px 1px 5px 5px #dddddddd;
  border-radius: 5px;
  overflow: hidden;
}

.item:hover {
  box-shadow: 1px 1px 3px 3px #dddddddd;
}

.details {
  background-color: #f8f8f8;
  padding: 0.5em 1em;
}

.link {
  text-decoration: none;
}

.title {
  color: #333333;
  margin: 1em 0;
}
