.header {
  /* z-index: 1; */
  /* position: fixed; */
  /* top: 0; */
  /* width: 100%; */
  padding: 1.5em 2em;
  display: flex;
  flex: 1 1 300px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0 auto;
}

.brand {
  text-transform: uppercase;
  font-size: 2em;
  color: #147dff;
}

.ul {
  list-style: none;
}

.li {
  list-style: none;
  display: inline;
  margin: 0 1em;
}

.links {
  font-size: 0.85em;
  color: #000000;
  padding-bottom: 0;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 400;
  transition: 0.3s;
}

.links:hover {
  padding-bottom: 0.25em;
  border-bottom: 3px solid #147dff;
}

@media (max-width: 768px) {
  .brand {
    width: 100%;
    text-align: center;
  }
  .nav {
    width: 100%;
    text-align: center;
  }
}
