.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 1.5em;
}

.social {
  display: flex;
  justify-content: center;
}

.socialLinks {
  margin: 1em 1.5em;
}

.socialIcons {
  font-size: 1.25em;
  transition: 0.3s;
  color: #cccccc;
}

.socialIcons:hover {
  color: #ffffff;
}

.rights {
  margin-top: 1.5em;
  font-size: 0.75em;
}
.attribution {
  width: 100%;
  display: flex;
  flex: 1 1 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.linkMargin {
  margin: 40px;
}

.image {
  max-width: 100px;
  width: 100%;
}
