.item {
  box-shadow: 1px 1px 5px 5px #dddddddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.item:hover {
  box-shadow: 1px 1px 3px 3px #dddddddd;
}

.parentLink {
  text-decoration: none;
}

.date {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: #ffffff;
  font-size: 0.75em;
  background-color: #555555aa;
  padding: 0 0.25em;
  border-radius: 10px;
  /* z-index: 1; */
}

.details {
  background-color: #f8f8f8;
  padding: 0.5em 0.5em;
  height: 100%;
}

.link {
  text-decoration: none;
}

.title {
  color: #333333;
  margin: 1em 0;
}

.excerpt {
  color: #555555;
  font-size: 0.8em;
  line-height: 1.25em;
}
